$content: #9b9b9b;
$background: #f7f7f7;

$primary: #c80080;
$secondary: #4b4ae2;

body {
  color: $content;
  background-color: $background;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}

.container {
  padding: 0 2rem;
}

.display {
  font-size: 1.5rem;
  display: flex;
  background-color: white;
  align-items: center;
  min-height: 360px;
}

@import './styles/Navbar.scss';
@import './styles/Footer.scss';
@import './styles/Menu.scss';
@import './styles/Grid.scss';
@import './styles/Card.scss';
@import './styles/Link.scss';

@import './styles/Skills.scss';
