a {
  text-decoration: none;
  color: $content;
}

.link {
  color: $brand-primary;
  cursor: pointer;

  &:visited {
    color: $brand-primary
  }

  &.link--external {
    color: $brand-secondary;

    &:visited {
      color: $brand-secondary;
    }
  }
}

.icon-link {
  display: inline-flex;
  align-items: center;
  &_text {
    border-bottom: 1px solid $brand-secondary;
  }

  &_icon {
    margin-left: 4px;
    margin-top: 4px;

    color: $brand-secondary;
  }
}

.icon-link.icon-link--external:hover > .icon-link_text {
  color: $brand-secondary;
}



.image-link {
  display: inline-flex;
  align-items: center;

  &_image {
    width: 40px;
    margin-right: 1rem
  }
}
