p {
  margin-top: 0;
}

.pb-3-1 {
  padding-bottom: 3rem;
}

.py-3-1 {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.py-2-1 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.mb-md-0 {
  @include media-breakpoint-up(md) {
    margin-bottom: 0 !important;
  }
}

.mr-md-1-1 {
  @include media-breakpoint-up(md) {
    margin-right: 1rem !important;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1-1 {
  margin-bottom: 1rem;
}

.my-1-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2-1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-1-1 {
  margin-top: 1rem;
}

.mb-3-1 {
  margin-bottom: 3rem;
}

.mb-2-1 {
  margin-bottom: 2rem;
}

.mb-1-2 {
  margin-bottom: 0.5rem;
}

.mr-1-2 {
  margin-right: 0.5rem;
}
