.text-right {
  text-align: right;
}

.text-muted {
  color: $brand-muted;
}

.display-1 {
  font-size: 2.25rem;
}

.display-2 {
  font-size: 2rem;
}

.display-3 {
  font-size: 1.75rem;
}

h1, .h1 {
  font-size: 1.5rem;
}

.text-underline-primary {
  border-bottom: 3px solid $brand-primary;
}
