.navbar-toggler {
  border: none;
  background: none;
  padding: 0;

  &:focus, &:active {
    outline: 0;
  }

  color: $brand-primary;
  cursor: pointer;
  font-size: 1.25rem;

  display: flex;
  align-items: center;

  &--as-close {
    animation-name: rotate-to-close;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }

  &--as-open {
    animation-name: rotate-to-open;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
}

@keyframes rotate-to-close {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotate-to-open {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0);
  }
}
