.navbar-tray {
  overflow: hidden;
  max-height: 0;

  &--open {
    animation-name: slide-in-from-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &--closed {
    animation-name: slide-out-to-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

@keyframes slide-in-from-top {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}

@keyframes slide-out-to-top {
  0% {
    max-height: 500px;
  }
  100% {
    max-height: 0;
  }
}
