.container {
  padding: 1rem 1.5rem;
}

.fold-height {
  height: 420px;
}

.flex {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}
