.container {
  max-width: 1024px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.fold-height {
  height: 420px;

  @include media-breakpoint-up(md) {
    height: 600px;
  }
}

.constrain-xs {
  max-width: map-get($breakpoints, xs);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.vertical {
  flex-direction: column;
}

.w-md-20 {
  @include media-breakpoint-up(md) {
    width: 20%;
  }
}

.md-horizontal {
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-md-center {
  @include media-breakpoint-up(md) {
    align-items: center !important;
  }
}
