@import 'Navbar/Tray';
@import 'Navbar/Logo';
@import 'Navbar/Toggler';

.navbar {
  position: relative;
  z-index: 1;

  &--open {
    animation-name: fade-in-to-white;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &--closed {
    animation-name: fade-out-from-white;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &_nav {
    padding-top: .5rem;
    padding-bottom: .5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@keyframes fade-in-to-white {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}

@keyframes fade-out-from-white {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}
