@import 'Navbar/Tray';
@import 'Navbar/Toggler';

.navbar {
  z-index: $z-index-navbar;
  background-color: $white;

  &_menu {
    @extend .container;

    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    justify-content: space-between;
  }

  &_tray {
    @extend .container;

    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

img.navbar_logo {
  height: 40px;
}
