// Raw colors
$white: #fff;
$black: #000;

// Brand colors
$brand-white: $white;
$brand-muted: #5c5c5c;
$brand-primary: #008c95;
$brand-secondary: #4aa720;

// Content colors
$content: $black;
$background: #fff7ee;

// Positioning
// z-index
$z-index-navbar: 2;
